In [1]:
import pandas as pd
from pathlib import Path

In [2]:
def capitalize(df):
    for column in df.columns:
        df[column] = df[column].str.title()
    return df

## Books

In [3]:
def generate_database_from_books():
    source_dir = "source"
    source_files = [file for file in Path(source_dir).glob("*.txt")]

    # read texts
    all_texts = []
    for source_file in source_files:
        with open(source_file, "r") as text_file:
            all_texts.append(text_file.readlines())

    articles = ["der", "die", "das", "den", "dem"]

    unwanted_chars = ['"', ',', '.', ':',"»", '«', "_", ")", "(","?"]

    target_lines = []
    for each_text in all_texts:
        for each_line in each_text:
            words = each_line.split()
            for index, word in enumerate(words):
                if word in articles:
                    entry = {}
                    next_index = words.index(word)+1
                    if next_index < len(words):  
                        noun = words[next_index]
                        for char in unwanted_chars:
                            noun = noun.replace(char,"")
                        entry["article"] = word
                        entry["noun"] = noun
                        target_lines.append(entry)

    df = pd.DataFrame(target_lines)
    df.drop_duplicates(inplace=True)

    df["index"] = list(range(len(df)))
    df.index = df["index"]
    df = df.drop("index", axis=1)

    df = capitalize(df)
    df.to_csv("output/data.csv")
    return df

In [4]:
generate_database_from_books().columns

Index(['article', 'noun'], dtype='object')

# Frequency

In [5]:
def generate_dataframe_from_frequency():
    source_file = "source/frequent_nouns.txt"
    with open(source_file, "r") as text_file:
        lines = text_file.readlines()

    data = []
    for line in lines:   
        dash_split = line.split("–") 
        eng = dash_split[0].split(".")[1]
        split = (dash_split[1].split("\n")[0].split(" "))[1:3]
        article = split[0]
        if len(split)!=2:
            continue
        noun = split[1]
        data.append([eng, article, noun])

    df = pd.DataFrame(data)

    df.rename(columns = {0:'Translation',1:'Article',2:"Noun"}, inplace = True) 

    articles = ["Die", "Der", "Das"]
    df = df[df.Article.apply(lambda x:x in articles)]

    df = capitalize(df)
    df.to_csv("output/data.csv")
    return df

In [6]:
generate_dataframe_from_frequency().columns

Index(['Translation', 'Article', 'Noun'], dtype='object')

## A2 Nomen

In [7]:
def generate_dataframe_from_A2():
    source_file = "source/A2_DeutschNomen.csv"
    df = pd.DataFrame(pd.read_csv(source_file))
    df = df.reindex(columns=["Translation", 'Article', 'Noun'])
    df = capitalize(df)
    df.to_csv("output/data.csv")
    return df

In [8]:
generate_dataframe_from_A2()

       Translation Article              Noun
0    Contestadores     Die  Anrufbeantworter
1         Anuncios     Die           Ansagen
2       Conexiones     Die        Anschlüsse
3       Respuestas     Die         Antworten
4         Anuncios     Die          Anzeigen
..             ...     ...               ...
623         Tiempo     Die              Zeit
624        Revista     Die       Zeitschrift
625      Periódico     Die           Zeitung
626      Cigarillo     Die         Zigarette
627          Limón     Die           Zitrone

[628 rows x 3 columns]